html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  line-height: 1.5;
}

.link-card h2 {
  margin: 1rem;
  font-family: Dosis, sans-serif;
}

p {
  font-family: Georgia, serif;
  margin: 1rem;
}

.link-card {
  display: block;
  border: solid 3px #9a816d;
  border-radius: 8px;
  color: #785439;
  background-color: #dcd4cd;
  text-decoration: none;
}

.link-card dl {
  margin: 1rem;
}

.link-card dt {
  float: left;
}

.link-card dd {
  text-align: right;
  font-style: italic;
}

.btn {
  padding: .4em .75em .5em;
  margin: 1rem;
  display: inline-block;
  border: 2px #785439;
  border-radius: 8px;
  color: #f0eee8;
  background-color: #785439;
  text-decoration: none;
  font-family: Dosis, sans-serif;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #512200;
}

.link-card:hover .btn {
  background-color: #512200;
}
